<mat-toolbar class="toolbar" color="primary" *ngIf="currentUser | async as user">
  <div class="toolbar-container">
    <div class="toolbar-left">
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="app-title">{{title}}</span>
    </div>
    
    <div class="toolbar-right">
      <div class="user-info">
        <mat-icon class="user-icon">account_circle</mat-icon>
        <span class="user-name">{{user.firstName}} {{user.lastName}}</span>
      </div>
      <button mat-icon-button (click)="logout()" class="logout-button">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" *ngIf="currentUser | async as user">
  <mat-sidenav #sidenav mode="side" class="sidenav" [opened]="true">
    
    <mat-nav-list>
      <ng-container *ngIf="user.role === 'HR'">
        <a mat-list-item routerLink="/hr/dashboard" routerLinkActive="active-link">
          <div class="nav-item">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
          </div>
        </a>
        <a mat-list-item routerLink="/hr/employees" routerLinkActive="active-link">
          <div class="nav-item">
            <mat-icon>people</mat-icon>
            <span>Employés</span>
          </div>
        </a>
        <a mat-list-item routerLink="/hr/departments" routerLinkActive="active-link">
          <div class="nav-item">
            <mat-icon>business</mat-icon>
            <span>Departements</span>
          </div>
        </a>
        <a mat-list-item routerLink="/hr/leave-requests" routerLinkActive="active-link">
          <div class="nav-item">
            <mat-icon>event_busy</mat-icon>
            <span>Demandes de congés</span>
          </div>
        </a>
        <a mat-list-item routerLink="/hr/payslips" routerLinkActive="active-link">
          <div class="nav-item">
            <mat-icon>receipt</mat-icon>
            <span>Fiches de paie</span>
          </div>
        </a>
      </ng-container>

      <ng-container *ngIf="user.role === 'EMPLOYEE'">
        <a mat-list-item routerLink="/employee/dashboard" routerLinkActive="active-link">
          <div class="nav-item">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
          </div>
        </a>
        <a mat-list-item routerLink="/employee/payslips" routerLinkActive="active-link">
          <div class="nav-item">
            <mat-icon>receipt</mat-icon>
            <span>Mes Fiches de Paie</span>
          </div>
        </a>
        <a mat-list-item routerLink="/employee/leave-requests" routerLinkActive="active-link">
          <div class="nav-item">
            <mat-icon>event_busy</mat-icon>
            <span>Demandes de Congé</span>
          </div>
        </a>
        <a mat-list-item routerLink="/employee/profile" routerLinkActive="active-link">
          <div class="nav-item">
            <mat-icon>person</mat-icon>
            <span>Mon Profile</span>
          </div>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet *ngIf="!(currentUser | async)"></router-outlet>